doctype html
html
    head
        link(rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="/assets/css/main.css")
        block css
        title= title
    body
        include header.pug
        block body
        include login_modal.pug
        script(src="/assets/jquery/jquery-3.5.1.min.js")
        script(src="/assets/bootstrap/js/bootstrap.bundle.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/assets/js/main.js")
        block scripts